{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block content %}
<div class="home">
  <div class="home_content">
    <h2>Track Your expenses with Wally!</h2>
    <p>Wally will be the tracker, controller and best friend of Your wallet & bank account.</p>
    <div class="btns">
      <button class="btn_custom"><a href="/login" class="btn">Login</a></button>
      <button class="btn_custom"><a href="/register" class="btn">Register</a></button>
    </div>
  </div>
</div>
{% endblock %}